 1. Dummy Variables
    1. Dummy variable trap
    2. Ordinal and Nominal data
 2. One Hot Encoding
 3. Un-Supervised Learning

In [25]:
from pandas import*
import pandas as pd

In [3]:
data = read_csv('50_Startups.csv')

In [5]:
dummise = get_dummies(data.State)
dummise.head(2)

   California  Florida  New York
0           0        0         1
1           1        0         0

In [6]:
merge = concat([data,dummise],axis='columns')
merge.head()

,R&D Spend,Administration,Marketing Spend,State,Profit,California,Florida,New York
0,165349.20,136897.80,471784.10,New York,192261.83,0,0,1
1,162597.70,151377.59,443898.53,California,191792.06,1,0,0
2,153441.51,101145.55,407934.54,Florida,191050.39,0,1,0
3,144372.41,118671.85,383199.62,New York,182901.99,0,0,1
4,142107.34,91391.77,366168.42,Florida,166187.94,0,1,0

In [8]:
final = merge.drop(['State'],axis='columns')

In [9]:
final.head()

,R&D Spend,Administration,Marketing Spend,Profit,California,Florida,New York
0,165349.20,136897.80,471784.10,192261.83,0,0,1
1,162597.70,151377.59,443898.53,191792.06,1,0,0
2,153441.51,101145.55,407934.54,191050.39,0,1,0
3,144372.41,118671.85,383199.62,182901.99,0,0,1
4,142107.34,91391.77,366168.42,166187.94,0,1,0

In [34]:
# Dummy variable trap

In [11]:
final2 = final.drop(['New York'],axis = 'columns')
final2.head(2)

   R&D Spend  Administration  Marketing Spend     Profit  California  Florida
0   165349.2       136897.80        471784.10  192261.83           0        0
1   162597.7       151377.59        443898.53  191792.06           1        0

#### One hot encoding

In [1]:
from sklearn.preprocessing import LabelEncoder

In [23]:
le = LabelEncoder()

In [26]:
newdf = data

In [27]:
newdf.State = le.fit_transform(newdf.State)
newdf.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

In [28]:
from sklearn.preprocessing import OneHotEncoder

from sklearn.compose import ColumnTransformer

In [29]:
ct = ColumnTransformer([('State',OneHotEncoder(),[3])],remainder='passthrough')

In [33]:
newct = ct.fit_transform(data)

#### Label encoder and One hot encoding

#### Un-Supervised Learning